$verifaiGrey: #4d4d4d;
$verifaiPink: #ff567d;

body {
  background-color: #001234;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
  background-color: $verifaiPink;
  display: flex;
  justify-content: center;
  height: 75px;

  a {
    display: inherit;
  }
}

.verifai-logo {
  width: 180px;
}

.content {
  max-width: 700px;
  display: flex;
  margin: auto;
  font-family: 'Barlow', sans-serif;

  .verifai-result {
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      tr {
        border-top: 2px solid $verifaiPink;
      }

      td {
        padding: 8px;

        &:first-child {
          font-weight: bold;
          width: 30%;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}